$header_height: 15vh;
$content_height: 70vh;
$footer_height: 20vh;

$cwidth: 600px;
$cwidth_hover: 700px;
$img_width: 400px;

$border_width: 5px;
$top_margin: 20px;
$left_margin: 10vw;

$main_color: hsl(264, 100%, 8%);
$side_color: hsl(336, 100%, 50%);
$side_color_hover: hsl(336, 100%, 60%);
$font_color: white;
